<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-3">
    <h2 th:text="'Data from order ' + ${order.getId()}"></h2>
    <ul>
        <li th:text="'Date: ' + ${order.getDate()}"></li>
        <li th:text="'Has the order been paid?: ' + ${order.isPayed()}"></li>
        <li th:text="'Waiter: ' + ${order.getWaiter().getName()}"></li>
        <li th:text="'Table: ' + ${order.getTable().getCode()}"></li>
        <li th:text="'Total amount: ' + ${order.getTotal()}"></li>
    </ul>
    <a th:if="${!additem}" th:href="'/add-orderitem/' + ${order.getId()}">Add new dish</a>
    <div th:if="${additem}">
        <p>Add new dish to the order</p>
        <form th:action="@{/orderitem-process(id=${order.getId()})}" method="post">
            <p>
                <label for="dish">Dish</label>
                <select name="dish" id="dish">
                    <option th:each="dish : ${dishes}" th:value="${dish.getId()}" th:text="${dish.getName()}"></option>
                </select>
            </p>
            <p>
                <label for="quantity">Quantity</label>
                <input type="text" name="quantity" id="quantity">
            <p>
                <input type="submit" value="Save and add new" name="save">
            </p>
            <p>
                <input type="submit" value="Save and exit" name="save">
            </p>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Applied Price</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="orderItem : ${order.getOrderItemsList()}">
                <th scope="row" th:text="${orderItem.getId()}"></th>
                <td th:text="${orderItem.getAppliedPrice()}"></td>
                <td th:text="${orderItem.getDish().getName()}"></td>
                <td th:text="${orderItem.getQuantity()}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/orders">Back to orders</a>
</div>
</body>
</html>
